body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
}

a, .btn {
  text-decoration: none;
}

aside {
  background-color: hsl(0, 0%, 95%);
}

.mb-4dot5 {
  margin-bottom: 2.25rem !important;
}

.list-separators li:not(:last-of-type)::after {
  content: "・";
}

.source-td>span:not(:last-of-type)::after {
  content: "/";
  font-weight: 600;
  color: #6c757d;
  margin: 0 .3rem;
}

.ol-li-extra-padding li {
  padding-left: .5rem;
}

.ol-li-extra-padding li::marker {
  font-weight: bold;
  color: #6c757d;
}